
/* Navbar CSS */
.container {
    position: relative;
    margin-top: 100px;
    width: 100%;
    color: white;
    font-size: 1.1rem;
}
  
.nav_search {
    outline: none;
    border: none;
    width: 300px;
    padding: 0 10px;
}

input:focus {
    border: none;
    outline: none;
}

.icon {
    color: var(--heavy_pink);
    margin: 0 10px;
    cursor: pointer;
}

.badge {
    position: relative;
    left: -10px;
    top: -5px;
}

.badge_responsive {
    position: relative;
    left: 50px;
    top: -40px;
}

.navDropdown {
    width: 100%;
}

.navlink {
    font-weight: 400;
}

.navlink:hover {
    cursor: pointer;
    color: var(--soft_pink) !important;
}

.navbar_body {
    background-color: var(--soft_white);
    box-shadow: 2px 2px #d5d1be;
}
