* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif !important;
}

/* Navbar CSS */
.container {
  position: relative;
}

.icon {
  color: green;
  margin: 0 10px;
  cursor: pointer;
}

.navDropdown {
  width: 100%;
}

.navlink {
  font-weight: 400;
}

.navlink:hover {
  cursor: pointer;
  color: green !important;
}

.toggle {
  z-index: 2;
  position: absolute;
  top: -30px;
  width: 100%;
}

.hidden {
  display: none;
}

.navbar_body {
  background-color: #d1e7dd;
  box-shadow: 2px 2px #bad1c7;
}

/* Slider CSS */
.slider_container {
  margin-top: 100px;
  width: 100%;
}

.slider {
  height: 800px;
}

.slider img {
  height: 800px;
}