* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.icon {
  color: green;
  margin: 0 10px;
}

.navDropdown {
  width: 100%;
}

.navlink:hover {
  color: green !important;
}

.toggle {
  z-index: 2;
  position: absolute;
  width: 100%;
}

.hidden {
  display: none;
}