@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&family=Satisfy&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto Slab', serif;

  --signature_color: #617143;
  --soft_white: #EDE9D5;
  --soft_pink: #E7AB9A;
  --heavy_pink: #F6635C;
}

.link {
  text-decoration: none;
  color: black;
}

.snippet input[type="text"]:focus {
  border: none;
  border-left: 1px solid var(--heavy_pink);
  border-right: 1px solid var(--heavy_pink);
  outline: none;
}

/* navbar toggle */
.toggle {
  z-index: 2;
  position: absolute;
  top: 70px;
  width: 100%;
}

.hidden {
  display: none;
}

.badge_responsive {
  position: relative;
  left: 40px;
  top: -40px;
}

/* Slider CSS */

.slider {
  margin: auto;
  height: 1000px;
  width: 100%;
}

.slider img {
  height: 1000px;
}

/* body */
.home_body {
  margin: 100px auto 40px;
  /* max-width: 1100px; */
  width: 90%;
}

.home_quotes {
  /* margin: auto; */
  border-left: 4px solid black;
  max-width: 900px;
  cursor: context-menu;
}

.home_quotes h2, .home_quotes p {
  margin-left: 15px;
}

.home_quotes h2 {
  font-family: 'Satisfy', cursive;
}

.home_slider {
  margin: 50px auto 0;
}

.body {
  margin-top: 50px;
}

.body h1 {
  font-family: 'Satisfy', cursive;
  width: 340px;
  cursor: context-menu;
  position: relative;
  font-size: 3rem;
  margin: 0 auto;
}

.body h1::after {
  content: '';
  position: absolute;
  width: 0%;
  height: 0;
  top: 35px;
  left: -7px;
  border:  1px solid white;
  background-color: white;
  width: 100%;
  border-color: black;
}

.body h1:hover {
  transition: all 0.4s;
  transform: translateY(-3px);
}

/* .body h1:hover::after {
  transition: all 0.4s;
  width: 100%;
  border-color: black;
} */

.body_sidebar {
  border-right: 1px solid black;
  width: 250px;
  margin-right: 40px;
  padding-left: 20px;
}

.body_sidebar h3 {
  margin-bottom: 30px;
  padding-top: 20px;
}

.card_group {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 15px;
  margin-top: 20px;
}

@media screen and (max-width:900px) {
  .card_group {
    grid-template-columns: repeat(3, 1fr);
    margin-left: 130px;
  }
}

/* product */
.wrapper {
  position: absolute;
  top: 100px;
  margin: auto;
}

.product_container {
  display: flex;
  margin: 120px auto 50px;
  background-color: #ede9d56e;
  width: 1050px;
  padding: 15px;
}

.product_image {
  width: 450px;
}

.product_image img {
  height: 100%;
}

.product_content {
  margin-left: 40px;
  width: 520px;
}

.product_content p {
  margin-bottom: 4px;
}

.sell {
  display: flex;
  justify-content: space-between;
  width: 300px;
}

.sell div:not(:first-child) {
  border-left: 1px solid var(--heavy_pink);
  padding-left: 15px;
}

.product_content_body {
  display: grid;
  gap: 5px;
}

.price {
  color: var(--heavy_pink);
  margin-top: 10px;
}

.product_content p {
  font-size: 1rem;
}

.color_group {
  display: flex;
  gap: 10px;
}

.button {
  width: 40px;
  height: 40px;
  cursor: pointer;
  border: transparent;
}

.size {
  border: 1px solid var(--heavy_pink);
  background-color: white;
}

.color_btn {
  border: 1px solid var(--heavy_pink);
  background-color: white;
  width: 100px;
}

.snippet_container {
  display: grid;
  grid-template-columns: 150px 300px;
  gap: 20px;
  align-items: center;
}

.snippet {
  margin: 20px 0; 
}

.snippet button {
  padding: 5px 15px;
  border: none;
  background-color: white;
  border: 1px solid var(--heavy_pink);
}

.snippet input {
  padding: 5px 0;
  width: 50px;
  text-align: center;
  border: none;
  border-top: 1px solid var(--heavy_pink);
  border-bottom: 1px solid var(--heavy_pink);
}

.btn_purchase {
  width: 280px;
  height: 50px;
  border: none;
  border-radius: 20px;
  background-color: var(--heavy_pink);
}

.btn_purchase:hover {
  background-color: var(--soft_pink);
  color: white;
}

.purchase_icon {
  padding-right: 10px;
}

.signature {
  background-color: var(--signature_color);
}

.check::before {
  content: "\2713";
  z-index: 2;
  color: white;
}

.border {
  background-color: var(--soft_pink);
}

.border1 {
  background-color: var(--soft_pink);
}

/* input glow */
.input:focus {
  outline: none;
  border-color: 2px #28a745 !important;
  box-shadow: 0 0 0 4px rgba(40, 167, 69, 0.25) !important;
}

/* search */
.search_wrapper h3 {
  border-bottom: 1px solid orange;
  margin-bottom: 30px;
}