.wrapper {
    position: relative;
    width: 200px;
    box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.107);
    border: 1px solid transparent;
}

.wrapper:hover {
    border: 1px solid var(--heavy_pink);
    cursor: pointer;
    transform: translateY(-3px);
}

img {
    width: 100%;
    height: 160px;
}

.content {
    padding: 10px 10px 0 10px;
}

.content p {
    word-break: break-all;
    margin-bottom: 0;
}

.price {
    color: var(--heavy_pink);
    margin-top: 10px;
    font-size: 1.3rem;
}

@keyframes showBtn {
    from {opacity: 0;}
    to {opacity: 1;}
}

.toggle_buy button{
    border: none;
    outline: none;
    padding: 10px 0;
    width: 100%;
    position: absolute;
    top: 192px;
    background-color: var(--heavy_pink);
    color: var(--soft_white);
}

.wrapper .toggle_buy button {
    display: none;
    opacity: 0;
}

.wrapper:hover .toggle_buy button {
    display: block;
    opacity: 1;
    animation: showBtn 0.05s ease both;
}

.icon {
    padding-right: 10px;
}